.QuickView {
    width: 100%;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding: 10px 20px;
}

/* Tablet */
@media (max-width: 1024px) {
    .QuickView {
        gap: 30px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .QuickView {
        flex-direction: column;
        gap: 20px;
    }
}
