.AttendenceCard {
    width: 270px;               /* fixed typo */
    height: 150px;
    padding: 15px;

    background: rgba(23, 46, 78, 0.65); /* transparent dark blue */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-radius: 14px;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.35);

    transition: all 0.3s ease;
}

.AttendenceCard:hover {
    transform: translateY(-6px);
    background: rgba(23, 46, 78, 0.8);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}


.AttendenceCard h1
{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.AttendenceCard h2
{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: rgb(18, 156, 0);
}