.AttendenceChart {
  width: 100%;
  max-width: 380px;
  height: 300px;

  padding: 14px;

  background: rgba(46, 85, 119, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.15);

  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.AttendenceChart:hover {
  transform: translateY(-6px);
}

.AttendenceChart canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Tablet */
@media (max-width: 1024px) {
  .AttendenceChart {
    max-width: 340px;
    height: 280px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .AttendenceChart {
    max-width: 95%;
    height: 260px;
  }
}
