.SummaryCardsMain
{
    width: 100vw;
    height: 235px;
    /* border: 3px solid red; */
    margin-top: 10px;
}

.SummaryCardsMain h1
{
    margin-left: 5px;
    color: white;
}



.Cards
{   
    justify-content: center;
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}