.SummaryCardsMain {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
