.WeightProgress
{
    width: 100vw;
    height: 370px;
    /* border: 3px solid rgb(255, 238, 0); */
}

.WeightProgress h1{
    color: white;
}

.ProgressCharts
{
    justify-content: center;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}



