/* ============================================================
   1. App.css
   ============================================================ */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--white-70);
}